<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="2.0.14" package="br.com.macamp.app" android:installLocation="auto" android:versionCode="36">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="33" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<!--OneSignal-->
	<permission android:name="br.com.macamp.app.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="br.com.macamp.app.permission.C2D_MESSAGE" />
	<!--/OneSignal-->
	<application android:label="MaCamp" android:icon="@mipmap/ic_launcher">
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
		<activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:theme="@android:style/Theme.Translucent" />
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDMgtg637cz-GG0cimn_EXg95idLbaDwOY" />
		<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-8959365990645001~9967771040" />
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="br.com.guia_de_campings.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
		</provider>
	</application>
</manifest>